body {
    margin: 0px;
    padding: 0px;
}

canvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

p#anno {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 40px;
    color: #051855;
    font-family: sans-serif;
}